RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L] 
<Files ~ "^.*\.sqlite">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None
LimitRequestBody 10737418235
php_value upload_max_filesize 10000M
php_value max_execution_time 500
php_value max_input_time 500
php_value max_file_uploads 400
php_value _max_size 10000M
php_value post_max_size 10000M
